/* Derived from Yadda Stylesheet by Joe[y]
 * http://oswd.org/viewdesign.phtml?id=1925
--------------------------------------------------------------------------- */

body {
  background:#fff;
  width:90%;
  margin:auto;
  margin-top:10px;
  font:x-small Georgia,Serif;
  text-align:center;
  color:#333;
  min-width:800px;
  }
  
/* Links
----------------------------------------------- */
a:link {
  color:#58a;
  text-decoration:none;
  }
a:visited {
  color:#58a;
  text-decoration:none;
  }
a:hover {
  color:#009966;
  text-decoration:underline;
  }
a img {
  border-width:0;
  }


/* Shadow Border
----------------------------------------------- */

.s1 { border: solid 2px #FDFDFE;
      border-top:none;
      border-bottom:none;
      background:#fafffa;
	   }
.s2 {  border: solid 1px #F4F6F9;
       border-top:none;
	   border-bottom:none;
	   }
.s3 {  border: solid 2px #F0F3F7;
       border-top:none;
	   border-bottom:none;
	   }
.s4 {  border: solid 1px #EBEFF4;
       border-top:none;
	   border-bottom:none;
	   }
.s5 {  border: solid 2px #E5EBF0;
       border-top:none;
	   border-bottom:none;
	   }
.s6 {  border: solid 1px #E0E7ED;
       border-top:none;
	   border-bottom:none;
	   }
.s7 {  border: solid 2px #DCE4EB;
       border-top:none;
	   border-bottom:none;
	   }
.s8 {  border: solid 1px #D5DEE7;
       border-top:none;
	   border-bottom: solid 1px #ccc;
	   }

/* Header
----------------------------------------------- */
#header {
  width:100%;
  min-width:780px;
  margin:auto;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff url("img/dodo.png") no-repeat right;
  color: #000;
  }
#header a {
  color: #000;
  text-decoration:underline;
}
#header a:hover {
  color:#888;
  }

#title {
  text-align: left;
  margin:5px 5px 0;
  padding:20px 20px .25em;
  border:0px solid #eee;
  border-width:0px 0px 0;
  font-size:230%;
  line-height:1.2em;
  font-weight:bold;
  color:#666;
  text-transform:uppercase;
  letter-spacing:.2em;
  }

#description {
  text-align: left;
  margin:0 5px 5px;
  padding:0 20px 20px;
  border:0px solid #eee;
  border-width:0 0px 0px;
  max-width:700px;
  font:100% "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  }


/* Layout
----------------------------------------------- */
#content {
  width: 100%;
  padding:0;
  text-align:left;
  margin:auto;
  }
#content img {
  border-width:0;
  }
#main {
  position:relative;
  width:97%;
  min-width:560px;
  padding: 5px;
  margin:auto;
  clear:left;
  }
#sidebar {
  border:1px dotted #ccc;
  padding:10px;
  padding-top:0px;
  margin-left:15px;
  width:200px;
  float:right;
  background:#fff;
  margin-bottom:5px;
  }

/* Headings
----------------------------------------------- */
.date-header {
  font:90% "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#666;
  padding:3px;
  margin-bottom:5px;
  background:url("img/gradient-post.png") repeat-y left;
  }

label.checkbox {
  font:small Verdana,Sans-serif;
  color:#333;
  font-size:small;
  text-transform:none;
  letter-spacing:0;
  }

label.plain {
  font:small Verdana,Sans-serif;
  text-transform:none;
  }

/* Posts (from blogger.com layout)
----------------------------------------------- */
.post-block-container {
}

.post-block {
}

.post {
  margin:.5em 0 1.5em;
  min-height:100px;
  }
h3.post-title, #comments h3 {
  font-family:Georgia,Serif;
  font-size:200%;
  font-weight:bold;
  line-height:1.4em;
  color:#009966;
  padding-left:5px;
  padding-right:5px;
  margin: 0 0 0.25em;
  background:url("img/gradient-title.png") repeat-y left;
  }
a.link-in-title {
  color:#009966;
  text-decoration:underline;
  }
a.link-in-title:hover {
  color:#449966;
  background:#ffffaa;
  }
.post-title a, .post-title a:visited, .post-title strong {
  display:block;
  text-decoration:none;
  color:#009966;
  font-weight:normal;
  }
.post-title strong, .post-title a:hover {
  color:#333;
  }
.post div {
  margin:0 0 .75em;
  line-height:1.6em;
  }
.post-body { 
  font:x-small Verdana,Sans-serif;
}
.post-body a:hover, .post-footer a:hover {
  color:#eecc44;
}
.post-body a {
  font-weight:bold;
  text-decoration:underline;
}
p.post-footer {
  margin:-.25em 0 0;
  color:#ccc;
  text-align:right;
  margin-bottom:2em;
  }
.post-footer em, .comment-link {
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
.post-footer em {
  font-style:normal;
  color:#999;
  margin-right:.6em;
  }
.comment-link {
  margin-left:.6em;
  }
.post img {
  padding:4px;
  border:1px solid #ddd;
  }
.post blockquote {
  margin:1em 20px;
  }
.post blockquote p {
  margin:.75em 0;
  }
.post hr {
  margin-top:2em;
  margin-bottom:2em;
  border:1px dotted #ccc
  }

/* Forms
----------------------------------------------- */
.form form {
  margin:auto;
  }
.form fieldset {
  margin:auto;
  }
.form input {
  border:1px solid #ccc;
  }
.form textarea {
  margin:auto;
  width:100%;
  border:1px solid #ccc;
  }

input.form {
  margin:auto;
  border:1px solid #ccc;
  width:100%;
  }
div.form-buttons {
  float:left;
  }

.form label {
  font:90% "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#666;
  padding:3px;
  margin-bottom:5px;
}

.form legend {
  font-size:150%;
  font-family:Georgia,Serif;
  font-weight:bold;
  line-height:1.4em;
  color:#009966;
  padding-left:5px;
  padding-right:5px;
}

div.login-form, div.error-element {
  width:30%;
  min-width:300px;
  margin:auto;
  }

.login-form p, .error-element p {
  font:110% Verdana,Sans-serif;
  margin-bottom:1px;
  }

/* Sidebar
----------------------------------------------- */
#sidebar ul {
  margin:0 0 1.5em;
  padding:0 0 1.5em;
  border-bottom:1px dotted #ccc;
  list-style:none;
  font:100% Verdana,Sans-serif;
  }
#sidebar li {
  margin:0;
  padding:0 0 .25em 15px;
  text-indent:-15px;
  line-height:1.5em;
  }
#sidebar p {
  color:#666;
  line-height:1.5em;
  }
#lisp-logo {
  margin-left:51px;
}
#imgbox {
  text-align:center;
  margin:auto;
  }

/* Footer
----------------------------------------------- */
#footer {
  width:660px;
  clear:both;
  margin:auto;
  }
#footer hr {
  display:none;
  }
#footer p {
  margin:0;
  padding-top:15px;
  font:78%/1.6em "Trebuchet MS",Trebuchet,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }


/* Errors
----------------------------------------------- */
div.error {
  padding-left:10px;
  background:#dd6666;
  color:#ffffaa;
  border:1px dashed #ffffaa;
  font:100% Verdana,Sans-serif;
  font-weight:bold;
}

/* Previews
----------------------------------------------- */
.preview {
  color:#dd6666;
  background:#ffffaa;
  font:large Georgia,Serif;
  font-weight:bold;
  text-align:center;
  padding:10px;
  border:1px dashed #dd6666;
  margin-bottom:1em;
  margin-right:240px;
  }
div.preview em {
  }

/* Elements reserved for authenticated users
----------------------------------------------- */
#user-menu {
  padding-top:1px;
  margin-top:5px;
  margin-bottom:20px;
  }
#user-menu ul {
  border:0;
  margin:0;
  padding:0;
  padding-bottom:5px;
  }

.authenticated {
  color:#ffffaa;
  background:#009900;
  border:1px dashed #ffffaa;
  font:100% Verdana,Sans-serif;
  padding:5px;
  padding-bottom:1px;
  margin:auto;
  }
.authenticated a {
  color:#ffffaa;
  font:100% Verdana,Sans-serif;
  text-decoration:underline;
  }
.authenticated a:hover {
  color:#ffffff;
  font:100% Verdana,Sans-serif;
  }
.authenticated input {
  margin:auto;
  border:1px solid #ccc;
  background:#66bb66;
  color:#ffffaa;
  width:100%;
  }
.authenticated input:hover {
  background:#88dd88;
  color:#ffffff;
  }
div.post-menu {
  float:left;
  text-align:left;
  margin:1px;
  margin-right:5px;
  padding:1px;
  padding-left:5px;
  padding-right:5px;
  }
.post-menu ul {
  list-style:none;
  margin-left:0px;
  padding-left:0px;
  }
.post-menu li {
  margin-left:0px;
  padding-left:0px;
  }

/* Archive
----------------------------------------------- */
.archive {
  color:#eeeeee;
  background:#9999cc;
  font:large Georgia,Serif;
  font-weight:bold;
  text-align:center;
  padding:10px;
  border:1px dashed #eeeeee;
  margin-bottom:1em;
  margin-right:240px;
  }
div.archive em {
  }
.archive a {
  text-decoration:none;
  }
#archive-page-index {
  color:#eeeeee;
  background:#9999cc;
  font:x-small Georgia,Serif;
  border:1px dashed #eeeeee;
  padding:5px;
  margin-top:5px;
  }
#archive-page-index ul {
  padding:0 0 1.5em;
  list-style:none;
  font:100% Verdana,Sans-serif;
  margin-bottom:0px;
  margin-top:0px;
  border:none;
  }
#archive-page-index li {
  margin:0;
  padding:0 0 .25em 15px;
  text-indent:-15px;
  line-height:1.5em;
  }
#archive-page-index a {
  color:#eeeeee;
  text-decoration:none;
  }
#archive-page-index a:hover {
  text-decoration:underline;
  color:#ffffff;
  background:#9999ff;
  }

/* For better displaying elements at the foot of the page
--------------------------------------------------------- */
.force-footer {
  margin-right:0px;
  clear:both;
  margin-bottom:0px;
  }

/* Batch navigation
----------------------------------------------- */
.batch-navigation {
  font:small Verdana,Sans-serif;
  text-align:center;
  }
div.archive em {
  }
.batch-navigation a {
  color:#ffffff;
  font-weight:bold;
}
.batch-navigation a:hover {
  color:#ffffff;
  background:#9999ff;
  }

/* Addresses
---------------------------------------------- */
span.address {
  font-family:monospace;
  font-weight:bold;
  text-decoration:underline;
  }

/* Comments
------------------------------------------------ */
#comments {
  font:x-small Verdana,Sans-serif;
  }
#comments h3 {
  font-size:170%;
  }
#comments h4 {
  margin-bottom:0px;
  font-size:120%;
  font-family:Georgia,Serif;
  padding:2px;
  background:url("img/gradient-post.png") repeat-y left;
  color:#666;
  }
.comment-header {
  color:#aaa;
  margin-top:0px;
  font-size:90%;
  }
.comment-header span.address {
  color:#aaf;
  }
div.comment-block {
  margin-bottom:3em;
  padding-left:1em;
  border-left:dotted 2px #aaa;
  }
span.comment-footer {
  font:100% "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  color:#aaa;
  }
span.comment-footer a {
  text-decoration:underline;
  color:#aaf;
  background:#fff;
  }
span.comment-footer a:hover {
  text-decoration:underline;
  color:#aaf;
  background:#ff0;
  }
